
* {
    margin: 0;
    padding: 0;
}

body {
    background: url('assets/images/space-minimalism-hd-4k.jpg');
}

#game * {
    position: relative;
    border: solid white 2px;
    border-radius: 20px;
    margin: auto;
    top: 75px;
}